<ion-view view-title="Detalhe do Imóvel">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/home.png">
        <div class="row">
          <div class="col col-50">
              <h2 align="left">{{imovel['estado_local']}}</h2>
          </div>

          <div class="col col-50">
              <span class="badge green">{{imovel['item']}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
              <h4>{{imovel['estado_ocupacao']}}</h4>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col col-50" style="border-right:1px #ccc solid">
            <h5 align="center">Valor da Venda</h5>
        </div>

        <div class="col col-50">
            <h5 align="center">Valor de Avaliação</h5>
        </div>
      </div>

      <div class="row">
        <div class="col col-50">
            <h4 align="center">R${{imovel['valor_venda']}}</h4>
        </div>

        <div class="col col-50">
            <h4 align="center">R${{imovel['valor_aval']}}</h4>
        </div>
      </div>

      <div class="item item-body">
        <p>
          {{imovel['descricao']}}
        </p>
        <p><i class="ion-home"></i>
          {{imovel['endereco']}}
        </p>
        <p>
          <a href="#" class="subdued text-dark-green">{{imovel['vistos']}} Visto(s)</a>
        </p>
      </div>

    </div>
        <div class="row">
      <div class="col col-30 panel panel-blue">
        <h4 align="center"><i class="ion-ios-checkmark-empty"></i></h4>
      </div>
      <div class="col col-40 panel panel-green" style="opacity:0">
        <h4 align="center"></i></h4>
      </div>
      <div class="col col-30 panel panel-yellow">
        <h4 align="center"><i class="ion-ios-close-empty"></i></h4>
      </div>
    </div>
    <div class="row">
      <div class="col col-30">
        <h6 align="center">Financiamento</i></h6>
      </div>
      <div class="col col-40">
        
      </div>
      <div class="col col-30">
        <h6 align="center">FGTS</h6>
      </div>
    </div>
  </ion-content>
</ion-view>
