<ion-view view-title="Conta">
  <ion-content>
    <ion-list>
	    <ion-toggle  ng-model="true">
	        Manter Connectado
	    </ion-toggle>
	    <a class="button button-clear button-block button-dark"><i class="icon ion-log-out"></i> Terminar sessão</a>
	    <a class="button button-clear button-block button-dark header-footer"><i class="ion-person"></i> Anísio Marrime</a>
	    
    </ion-list>
  </ion-content>
</ion-view>
