<ion-view view-title="Imóveis">
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Pesquise: Area,Casa,Apartamento,Terreno" id="keyText" ng-keyup="getImovelByKey()">
      </label>
    </div>

    <div>
      <label class="item item-input item-select">
        <div class="input-label">
          Estado
        </div>
        <select>
          <option selected>Todos</option>
          <option>Ocupado</option>
          <option>Desocupado</option>
        </select>
      </label>
    </div>

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="imovel in imoveis" type="item-text-wrap" href="#/tab/imovel-detail/{{imovel[Imvei][id]}}" ng-click="searchImovelById({{imovel['Imvei']['id']}})">
        <img src="img/home.png">
        <h2>{{imovel['Imvei']['endereco']}}</h2>
        <p>{{imovel['Imvei']['descricao']}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-balanced">
          Partilhar
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
