<ion-view view-title="Dados Estatiscos">
  <ion-content class="padding">
    <div class="row">
    	<div class="col">
	    	<h4 align="center">Imóveis</h4>
	    </div>
    </div>
    <div class="row">
    	<div class="col col-30 panel panel-blue">
	    	<h4 align="center"><i class="badge badge-calm">{{nrDesocupado}}</i></h4>
	    </div>
	    <div class="col col-40 panel panel-green">
	    	<h4 align="center"><i class="badge badge-balanced">{{nrOcupado+nrDesocupado}}</i></h4>
	    </div>
	    <div class="col col-30 panel panel-yellow">
	    	<h4 align="center"><i class="badge badge-assertive">{{nrOcupado}}</i></h4>
	    </div>
    </div>
    <div class="row">
    	<div class="col col-30">
	    	<h6 align="center">Desocupados</i></h6>
	    </div>
	    <div class="col col-40">
	    	
	    </div>
	    <div class="col col-30">
	    	<h6 align="center">Ocupados</h6>
	    </div>
    </div>
  </ion-content>
</ion-view>
