<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-balanced">

  <!-- Tab Imoveis -->
  <ion-tab title="Imoveis" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/imov">
    <ion-nav-view name="tab-imov">
    </ion-nav-view>
  </ion-tab>

    <!-- Tab Estatistica -->
  <ion-tab title="Estatistica" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/estat">
    <ion-nav-view name="tab-estat"></ion-nav-view>
  </ion-tab>

  <!-- Tab Conta -->
  <ion-tab title="Conta" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/conta">
    <ion-nav-view name="tab-conta"></ion-nav-view>
  </ion-tab>


</ion-tabs>
