/* Empty. Add your own CSS if you like */
.blue{

}
.green{
	background-color: #33cd5f!important;
	color: #fff
}
.text-dark-green{
	color:#11815a!important;
}
.text-green{
	color: #33cd5f!important;
}
.panel{
	border-radius: 10px 0px 10px 10px;
	border: 1px solid #ccc;
	min-height: 50px;
	min-width: 50px;
	margin-left: 5px;
	box-shadow: 1px -5px 1px #ccc;
}
.panel-blue .panel-green .panel-orange{
	color:#fff;
}